environment:
  matrix:
    - nodejs_version: "24"
    - nodejs_version: "25"
matrix:
  fast_finish: true
install:
  - ps: Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version)
  - npm ci
build: off
test_script:
  - node --version
  - npm --version
  - npm run test-ci
version: "{build}"
